
.task {
    display: flex;
    align-items: center;
    padding: 15px;
    font-family: 'Jost';
    background-color: white;
    border-radius: 30px;
    height: 4rem;
    box-shadow: rgba(170, 164, 164, 0.12) 0px 1px 10px, rgba(148, 143, 143, 0.24) 0px 1px 20px;
    transition: 0.2s ease-in-out;
}
.task:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.task__title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}

.task__infos {
    display: flex;
}

.task__deadline {
    text-align: center;
    margin: auto;
    position: relative;
}

.overdue-icon {
    margin-left: 1rem;
    position: absolute;
    bottom: 10px;
    color: #810808;
}

.task__init-date {
    font-size: 14px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgb(202, 202, 185);
    padding: 8px;
    margin-right: 1.3rem;
    opacity: 0.8;
}

.task__doneBtn:hover {
    background: linear-gradient(170deg,rgb(191, 238, 164) 0%, rgba(91, 214, 64, 0.95) 100%);;
    color: white;
}

.task__delBtn:hover {
    background: linear-gradient(10deg,rgb(250, 195, 195) 0%, rgba(235, 36, 26, 0.86) 100%);
    color: white;
}

.btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    border: none;
    font-size: 14px;
    background: linear-gradient(170deg,rgba(252, 254, 255, 1) 0%, rgb(223, 211, 224) 100%);;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(112, 108, 108, 0.3) 0px 7px 8px -3px, rgba(87, 85, 85, 0.2) 0px -1px 0px inset;
}    

.task__category {
    border-radius: 10px;
    padding-inline: 8px;
    padding-block: 2px;
    font-size: 15px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.task__badge {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    margin-right: 3rem;
    position: relative;
    bottom: 15px;
    left: 5px;
}

/* Couleurs selon la priorité */
.task__badge.priority-urgent {
    background-color: #f81a1a;
}
.task__badge.priority-high {
  background-color: hsl(34, 100%, 64%);
}
.task__badge.priority-medium {
  background-color: #a855f7; 
}
.task__badge.priority-low {
  background-color: #17c961; 
}